<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
            <a class="navbar-brand">PrimeNG(Angular4 UI库)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive='actives'><a routerLink='/home'>Home</a></li>
                <li routerLinkActive='actives'><a routerLink="/prime">primeng</a></li>
                <!-- <li routerLinkActive='actives'><a routerLink="/toolbar">工具栏</a></li> -->
                <li routerLinkActive='actives'><a routerLink="/linstenner">观察者模式</a></li>
                <li routerLinkActive='actives'><a routerLink="/scroll">滚动条</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
            </ul>
        </div>
    </div>

</nav>

<!-- <div style="background:gray;">
    全局使用这个组件，并使用导出的事件名
    <app-cest (toDo)='toDoFn($event)'></app-cest>
</div> -->


<ba-toolbar (toolbarItemClick)="toolbarItemClick($event)"></ba-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>