<div class="btn-group" role="group" aria-label="..." *ngFor='let its of dp;let i=index;'>
        <!-- 一级 -->
        <button class='abox' type='button' class='btn btn-default' [style.display]="its.status == '1'? 'none':'block'" [disabled]="its.status == '2'? true:false">
            <ng-container *ngIf='its.childs'>
                111
                <div class="btn-group" role="group" aria-label="..." *ngFor='let child of its.childs;let i=index;'>
                    <div class="btn-group" role="group">
                        <!-- 存在的话是一个组不存在是一个按钮 -->
                        <ng-container *ngIf='child.childs'>
                            <!-- 二级 -->
                            <button  type='button'  class='btn btn-default' [disabled]="child.status == '2'? true:false" [style.display]="child.status == '1'? 'none':'block'">
                                <div class="btn-group" role="group"  aria-label="..." *ngFor='let co of child.childs;let i = index;'>
                                    <!-- 判断在里边外边显示 -外 -->
                                    <div class="btn-group" role="group">
                                        <button type="button" (click)='lock(co)' *ngIf='!co.isCollapse' [disabled]="child.status == '2'? true:co.status == '2'? true:false" [style.display]="co.status == '1'? 'none':'block'"  class="btn btn-default {{co.icon}}"
                                            title='{{co.text}}'><i [hidden]="co.status !== '4'" class="ion-locked"></i></button>
                                        <button type="button" data-toggle="dropdown" [disabled]="child.status == '2'? true:false" aria-haspopup="true" aria-expanded="true"  *ngIf='i ==child.childs.length-1' class="btn btn-default dropdown-toggle ion-arrow-down-b" > </button>
                                        <ul class="dropdown-menu">
                                            <ng-container *ngFor='let co of child.childs;let i = index;'>
                                                <li *ngIf='co.isCollapse' (click)='lock(co)'  [style.display]="co.status == '1'? 'none':'block'" ><a href='javascript:;'>{{co.text}}<i [hidden]="co.status !== '4'" class="ion-locked"></i></a></li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                                <i [hidden]="child.status !== '4'"  class="ion-locked"></i>
                            </button>
                        </ng-container>
                                <!-- 没有childs是按钮 -->
                        <ng-container *ngIf='!child.childs'>
                            <button (click)='lock(child)' [disabled]="child.status == '2'? true:false" class='btn btn-default {{child.icon}}' [style.display]="child.status == '1'? 'none':'block'" title='{{child.text}}'> <i [hidden]="child.status !== '4'" class="ion-locked"></i></button>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <i [hidden]="its.status !== '4'" (click)='lock(its)' class="ion-locked"></i>
        <!-- <span class='groupname'>{{its.name}}</span> -->
        </button>
    </div>