<!-- 查询 每一个图表。每一个组都要带索引位置不固定
6.status:状态1，隐藏，不显示，2，禁用，不可点，3，启用可点，4，锁定。
-->

<div [class.resize]="resize" class="content-top clearfix" maxHeight="100" [class.resize-alt]="!resize">
    <ng-container *ngFor='let its of dp;let i=index;'>
        <div class="abox">
            <ng-container *ngIf='its.childs'>
                <ng-container *ngFor='let child of its.childs;let i=index;'>
                    <ng-container *ngIf='child.childs'>
                        <div class='a_tool_g'>
                            <ng-container *ngFor='let co of child.childs;let i=index;'>
                                <ng-container *ngIf='!co.childs'>
                                    <ng-container *ngIf='co.isCollapse ===0'>
                                        <div class='b_tool'>
                                            <div class='b_n'>
                                                <span class='{{co.icon}}' title='{{co.text}}'></span>
                                                <span>{{co.text}}</span>
                                                <!--<ng-container *ngIf='i === child.childs.length-1'>
                                                    <ng-container *ngIf='co.isCollapse !==0'>
                                                        <span>{{co.text}}下</span>
                                                    </ng-container>
                                                </ng-container>-->
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <span class='rt'>{{child.name}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='!child.childs'>
                        <ng-container *ngIf='child.isCollapse ===0'>
                            <div class='b_tool' [ngClass]='child.status===2? "a_tool_dis":""'>
                                <div class='b_n'>
                                    <span class='icons {{child.icon}}' title='{{child.text}}'></span>
                                    <span>{{child.text}}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf='child.isCollapse!==0'>
                            <div class='b_tool' [ngClass]='child.status===2? "a_tool_dis":""'>
                                <div class='b_n'>
                                    <span class='icons {{child.icon}}' title='{{child.text}}'></span>
                                    <span (mouseover)='open(child)'>{{child.text}}</span>
                                    <ul class='uls'>
                                        <li class='lis'>{{child.text}}</li>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf='!its.childs'>
                <div class='b_tool'>
                    <div class='b_n'>
                        <span class='{{its.icon}}' title='{{its.text}}'></span>
                        <span>{{its.text}}</span>
                        <ng-container *ngIf='its.isCollapse !==0'>
                            <span class='ion-arrow-down-b'>11</span>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <span class='rt'>{{its.name}}</span>
        </div>
    </ng-container>
</div>